<div fxLayout="row" fxLayoutAlign="space-evenly center" class="experience-container">
  <mat-card class="experience-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          menu_book
        </span>
      </div>
      <mat-card-title>Math Teacher</mat-card-title>
      <mat-card-subtitle>Eye Level Learning Center</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/eyeLevel.png' alt="Photo of Eve Level">
    <mat-card-content>
      <ul>
        <li>Taught elementary and middle school math</li>
        <li>Learned to manage different types of children</li>
        <li>Guided students to understand difficult math concepts</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="experience-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          person_add
        </span>
      </div>
      <mat-card-title>Teacher Assistant</mat-card-title>
      <mat-card-subtitle>Hessed Academy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/zion.png' alt="Photo of Zion Youngnak Church">
    <mat-card-content>
      <ul>
        <li>Co-led Intro to C++ geared toward middle school students</li>
        <li>Helped troubleshoot problems that students encountered</li>
        <li>Solidified basic knowledge in C++ through reviews and lectures</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="experience-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          food_bank
        </span>
      </div>
      <mat-card-title>Host</mat-card-title>
      <mat-card-subtitle>Restaurant Chungdam</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/chungdam.png' alt="Photo of Chungdam">
    <mat-card-content>
      <ul>
        <li>Learned to work with different coworkers</li>
        <li>Handled different types of customers</li>
        <li>Managed/Scheduled reservations</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
