<div fxLayout="row" fxLayoutAlign="space-evenly center" class="project-container">
  <mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="morse-header-image"></div>
      <mat-card-title>Morse Code Translation</mat-card-title>
      <mat-card-subtitle>C++</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/morseCodeImage.png' alt="Photo of Morse Code">
    <mat-card-content>
      <ul>
        <li>Implemented binary tree for faster search when translating Morse code to English</li>
        <li>Implemented map for translating English to Morse Code</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="androidApp-header-image"></div>
      <mat-card-title>Android Application Development</mat-card-title>
      <mat-card-subtitle>Java</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/androidImage.png' alt="Photo of Android">
    <mat-card-content>
      <ul>
        <li>Implemented dynamic lists with RecyclerView</li>
        <li>Learned basic knowledge and structures of Android Studio</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="percolation-header-image"></div>
      <mat-card-title>Percolation</mat-card-title>
      <mat-card-subtitle>Java</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/percolationImage.png' alt="Photo of Android">
    <mat-card-content>
      <ul>
        <li>Estimated the value of the percolation threshold via Monte Carlo simulation</li>
        <li>Used dynamic two-dimensional array to create model and used union method to check percolation</li>
        <li>Calculated statistics such as mean, standard deviation, and low/high endpoint of confidence interval</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
