<ng-vertical-timeline [data]="events"></ng-vertical-timeline>
<h1>Hobbies & Interests</h1>
<div fxLayout="row" fxLayoutAlign="start start" class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          beach_access
        </span>
      </div>
      <mat-card-title>Ocean/Sunset</mat-card-title>
      <mat-card-subtitle>Mussel Rock Park</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/ocean.jpg' alt="Photo of Ocean">
    <mat-card-content>
      <ul>
        <li>I love to go to the ocean with the people I love!</li>
        <li><a href="https://www.google.com/maps/place/Mussel+Rock+Park/@37.668425,-122.4942142,15z/data=!4m5!3m4!1s0x0:0xef4a860fd2436928!8m2!3d37.668425!4d-122.4942142" target="_blank">Google Maps</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          hiking
          </span>
      </div>
      <mat-card-title>Hiking</mat-card-title>
      <mat-card-subtitle>Castle Rock State Park</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/hiking.jpg' alt="Photo of Mountain">
    <mat-card-content>
      <ul>
        <li>14 mile hike was the most difficult hike I've done, but also most memorable</li>
        <li><a href="https://www.google.com/maps/place/Castle+Rock+State+Park/@37.2298278,-122.1274062,17z/data=!3m1!4b1!4m5!3m4!1s0x808e4c907248a8d5:0xd8e25b63114d9dfc!8m2!3d37.2298235!4d-122.1252175" target="_blank">Google Maps</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-icons">
          sports_volleyball
          </span>
      </div>
      <mat-card-title>Volleyball</mat-card-title>
      <mat-card-subtitle>Leland High School</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/images/volleyball.jpg' class="image" alt="Photo of Android">
    <mat-card-content>
      <ul>
        <li>Playing varsity volleyball is the most significant memory I have of my high school days</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
